.content {
    color: #F0F0F0;
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
}

.content-inner {
    color: #F0F0F0;
    padding: 30px;
    border-radius: 10px;
}

p {
    color: #F0F0F0;
    margin-bottom: 15px;
}

p:last-child {
    margin-bottom: 0;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}
.social-links a {
    color: inherit;
    text-decoration: none;
}
.social-links a:hover {
    color: #57BB7E;
    text-decoration: none;
}
